[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/Hugo-Octopress"]
	path = themes/Hugo-Octopress
	url = https://github.com/parsiya/Hugo-Octopress
